<persistence>  
<persistence-unit name="finance">  
      
    <class>net.codejava.Finance</class>  
  
<properties>  
<property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>  
<property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/TryOut"/>  
<property name="javax.persistence.jdbc.user" value="postgres"/>  
<property name="javax.persistence.jdbc.password" value="Dhana@95021"/>  
<property name="eclipselink.logging.level" value="SEVERE"/>  
<property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>  
</properties>  
  
    </persistence-unit>  
</persistence>  
